<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="трекер привычек, саморазвитие, ежедневные привычки">
    <meta name="description" content="Трекер для создания и отслеживания привычек">
    <title><%= title %> - HabitTracker</title>
    <script src="/js/script.js" defer></script>
    <%- include('styles') %>
</head>
<body>
<header>
    <h1>HabitTracker</h1>
    <p>Создавай и отслеживай привычки</p>
    <%- include('nav') %>
</header>

<div class="container">
    <main>