<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/habits">Мои привычки</a></li>
        <li><a href="/schedule">Расписание</a></li>
        <li><a href="/progress">Прогресс</a></li>
        <li><a href="/gallery">Галерея</a></li>
        <li><a href="/finance">Финансы</a></li>
        <li><a href="/table-constructor">Конструктор таблиц</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/comments">Комментарии</a></li>
    </ul>
</nav>