<%- include('partials/header') %>

<section id="contact-section">
    <%- include('partials/session') %>
    <h2>Контакты</h2>
    <address>
        <p>Контакты: <a href="mailto:meow@mail.ru">meow@mail.ru</a></p>
        <p>Телефон: <a href="tel:+79042707783">+7 (904) 270-77-83</a></p>
    </address>

    <article>
        <h3>Свяжитесь с нами</h3>
        <form action="#" method="post">
            <p>
                <label for="contact-name"><strong>Ваше имя:</strong></label><br>
                <input type="text" id="contact-name" name="contact-name" placeholder="Иван Иванов">
            </p>
            <p>
                <label for="contact-email"><strong>Email:</strong></label><br>
                <input type="email" id="contact-email" name="contact-email" placeholder="ivan@example.com">
            </p>
            <p>
                <label for="contact-message"><strong>Сообщение:</strong></label><br>
                <textarea id="contact-message" name="contact-message" rows="4" placeholder="Ваше сообщение..."></textarea>
            </p>
            <button type="submit">Отправить сообщение</button>
        </form>
    </article>
</section>

<%- include('partials/footer') %>