<%- include('partials/header') %>

<section id="finance">
    <%- include('partials/session') %>
    <h2>Финансовые показатели</h2>
    <div class="financial-table">
        <div class="table-header">Показатель</div>
        <div class="table-header">2022</div>
        <div class="table-header">2021</div>
        <div class="table-header">2020</div>
        <div class="table-header">2019</div>

        <div class="table-cell">Выручка</div>
        <div class="table-cell">156,508.00</div>
        <div class="table-cell">108,249.00</div>
        <div class="table-cell">65,225.00</div>
        <div class="table-cell">42,905.00</div>

        <div class="table-cell">Валовая прибыль</div>
        <div class="table-cell">68,662.00</div>
        <div class="table-cell">43,818.00</div>
        <div class="table-cell">25,684.00</div>
        <div class="table-cell">17,222.00</div>

        <div class="table-cell">Расходы на R&D</div>
        <div class="table-cell">3,381.00</div>
        <div class="table-cell">2,429.00</div>
        <div class="table-cell">1,782.00</div>
        <div class="table-cell">1,333.00</div>

        <div class="table-cell">Операционные расходы</div>
        <div class="table-cell">10,040.00</div>
        <div class="table-cell">7,599.00</div>
        <div class="table-cell">5,517.00</div>
        <div class="table-cell">4,149.00</div>
    </div>
</section>

<%- include('partials/footer') %>